
$primary_colour: {{ $.Site.Params.primary_colour | default "red" }};
$topbar_colour: {{ $.Site.Params.topbar_colour | default "{{ $.Site.Params.menu_background_colour }}" }};
$menu_header_colour: {{ $.Site.Params.menu_header_colour | default "#002131" }};
$menu_background_colour: {{ $.Site.Params.menu_background_colour | default "#000000" }};
$highlight_colour: {{ $.Site.Params.highlight_colour | default "#33a1ff" }};
$text_colour: {{ $.Site.Params.text_colour | default "#33a1ff" }};


@page :first {
  background: url({{ $.Site.Params.PDFheader }}) no-repeat;
  /* background-image: url(/backgrounds/airwalk-header.png) no-repeat; */
  background-color: $highlight_colour; 
  background-size: cover;
  margin: 0; }

  