
<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ $style := resources.Get "scss/print.scss" | resources.ExecuteAsTemplate "print.scss" . | toCSS }}
    <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
    <!-- <link rel="stylesheet" href="/css/print.css" /> -->


    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    
  </head>
  <body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
  itemscope
  itemtype="http://schema.org/Article"
>


<div class="pdfshow">  
    <article id="cover" class="mt5">
        <div id="heading" >
        <h2 id="title">{{ .Site.Title }}</h2>
        <h3>Produced: {{ now.Format "January 2, 2006" }}</h3>
    </div>
    </article>
</div>


<article id="contents">
    <h2>Contents</h2>
    {{range .Site.Home.Sections.ByWeight}}
    {{if (not .Params.Hidden)}}
        <h4>{{.Title}}</h4>
        {{ range .Pages.ByWeight }} 
            <!-- Pages -->
            {{if and (not .IsSection) (not .Params.Hidden)}}
                <h5>{{.Title}}</h5>
            {{ end }}
        {{ end }}
        {{ range .Sections.ByWeight }}
            {{if (not .Params.Hidden)}}
                <h5>{{.Title}}</h5>
            {{ end }}
            {{ range .Pages.ByWeight }} 
            <!-- Pages -->
            {{if and (not .IsSection) (not .Params.Hidden)}}
                <h5>{{.Title}}</h5>
            {{ end }}
        {{ end }}
        {{ range .Sections.ByWeight }}
            {{if (not .Params.Hidden)}}
                <h5>{{.Title}}</h5>
            {{ end }}

        {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
</article>




{{range .Site.Home.Sections.ByWeight}}
    {{if (not .Params.Hidden)}}
    

                   <!-- Chapter heading -->
                   <div class="pdfshow">
                    <article id="chapter">
                        <h2 id="chapter-title">{{ .Title }}</h2>
                    </article>
                </div> 

                {{ template "contentPage" dict "page" . }}
                
                {{ template "nested" dict "section" . }}


    {{ end }}
{{ end }}


<!-- templates -->
{{ define "nested" }}
    {{ with .section}}
<!-- Content nested in a section -->
        {{ range .Sections.ByWeight }}
        <!-- Sections -->
        <!-- {{ .Title }} -->
            {{if (not .Params.Hidden)}}
                {{ template "contentPage" dict "page" . }}
            {{ end }}
            {{ template "nested" dict "sect" . }}
            {{ range .Pages.ByWeight }} 
            <!-- Pages -->
            <!-- {{ .Title }} -->
                {{if and (not .IsSection) (not .Params.Hidden)}}
                    {{ template "contentPage" dict "page" . }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "contentPage" }}
    {{ with .page}}
        {{ if (not .Params.Hidden)}}
            <!-- Content -->
            {{if gt (len .Content) 0}}
                <h1>{{.Title}}</h1>

                {{ $img := "<img src=\"" }}
                {{ range .Resources}}
                <!-- {{ .RelPermalink}} -->
                {{ end }}
                {{ $path:= .Dir}}
                {{ $dstimg := (printf "%s%s" "<img src=\"/" $path ) }}
                {{ replace .Content $img $dstimg | safeHTML }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}




{{ partial "footer.html" . }}
