
:root{
    
    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:$highlight_colour ; // #1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color:$highlight_colour; //#167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color: $highlight_colour; // #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color: $menu_header_colour; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:$highlight_colour; /*Color of menu header border */ 

    --MENU-SEARCH-BG-color: $primary_colour; //#002131; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: $topbar_colour; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#20272b; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: $highlight_colour; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

.highlight-wrapper {
    position: relative;
}

.highlight-link {
    position: absolute;
    bottom: 0;
    right: 0;
}
pre {
    background: white;
}
pre .copy-to-clipboard {
    background-color:white;
}
.copy-to-clipboard {
    background-color: white;
}

.print_body {
    padding: 60px;
}

#chapter h1 {
    text-align: left;
}
#chapter h2 {
    text-align: left;
}
#chapter h3 {
    text-align: left;
}
#chapter h4 {
    text-align: left;
}
#chapter h5 {
    text-align: left;
}
#chapter h6 {
    text-align: left;
}
#chapter {
    text-align: left;
    display: flex;
    align-items: lft;
    justify-content: left;
    height: 100%;
    padding: 2rem 0;
}
#chapter p {
    text-align: left;
}

.masonry {
    flex-flow: row wrap;
    margin-left: -8px; /* Adjustment for the gutter */
    counter-reset: brick;
    width: 80%;
    -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  margin: 2em auto;
  max-width: 970px;
  }
  
  .masonry-brick {
    overflow: hidden;
    border-radius: 5px;
    margin: 0 0 8px 8px;  /* Some Gutter */
    background-color: #002b3d;
    color: white;
    position: relative;
    flex: auto;
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 300px;
    object-fit: cover;

  }
  
 .masonry-brick:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5000;
    transform: translate(-50%, -50%);
    content: attr(alt);
    transition: font-size .25s, opacity .25s ease-in-out;
    font-weight: 700;
    opacity: .5;
    font-size: 1.25em;
    pointer-events: none;
    text-align: center; 
  }
  
 .masonry-brick:hover:after {
    // font-size: 2em;
    opacity: 1;
  }

 .masonry-img {
    object-fit: cover;
    filter: brightness(50%);
}


.intro-banner {
    flex-flow: row wrap;
    margin: auto;  /* Some Gutter */
    padding: 8px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    // align-items: stretch;
    // align-self: center;

  }

  .intro-pillar {
    overflow: hidden;
    border-radius: 8px;
    margin: auto;  /* Some Gutter */
    background-color: #002b3d;
    color: white;
    position: relative;
    // flex: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    align-content: center;
    // max-height: 200px;
    min-width: 200px;
    // max-width: 100%;
    // min-width: 20%;
    // align-items: stretch;
    // align-content: center;

    // object-fit: cover;
  }

.intro-pillar #pillar-head {
    // display: block;
    text-align: center !important;
    font-size: 2vw;
    font-weight: bold;
    // transform: translate(-50%, -50%);position: absolute;top: 20%;left: 50%;font-weight: bold;
}

.intro-pillar #pillar-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    
    // transform: translate(-50%, -50%);position: absolute;top: 20%;left: 50%;font-weight: bold;
}

.intro-pillar #pillar-text {
// transform: translate(-20%, -20%);top: 20%;left: 20%;font-weight: bold;
margin-left: 5px;
}
.banner-title {
    // transform: translate(-20%, -20%);top: 20%;left: 20%;font-weight: bold;
    display: flex;
    justify-content: center;
    // margin:auto;
    }
.banner-title h1, .banner-title h2{
    width: 70%;
    justify-content: center;
}

div.notices {
    margin: 2rem 0;
    position: relative;
}
div.notices p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}
div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f06a";
    left: 10px;
}
div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}
div.notices.info p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}
div.notices.info p:first-child:after {
    content: 'Info';
}
div.notices.warning p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
div.notices.warning p:first-child:after {
    content: 'Warning';
}
div.notices.note p {
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
div.notices.note p:first-child:after {
    content: 'Note';
}
div.notices.tip p {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}
div.notices.tip p:first-child:after {
    content: 'Tip';
}

table li {
    margin-left: 10px;
}