{{ partial "header.html" . }}
<!-- {{ partial "header_simple.html" . }} -->


{{if .Site.Home.Content }} 
{{.Site.Home.Content}}	
{{else}}           
	
<!-- html content -->
<!-- <div style="padding-top: 150px;"></div> -->
<!-- <div class="intro-banner">
	<div class="intro-header">Business transformation through technology
		</div>
</div> -->

<div class="banner-title"><h1>{{ $.Site.Data.home.intro }}</h1></div>
<div class="intro-banner">

{{ range $.Site.Data.home.pillars }}

<div class="intro-pillar">
	<div id="pillar-head" >{{ .name }}</div>
	<img id="pillar-img" src={{ .icon }} >
	<div id="pillar-text">
			{{ .text | markdownify }}
	</div>
</div>

{{ end }}


<!-- end html content -->

{{ end }}  
</body></html>
<!-- {{ partial "footer.html" . }} -->
