
<h2>Control Summary</h2>
{{- $section := .Page.Params.compliance }}
<table>
    <thead>
        <tr>
        <th>Control Domain</th>
        <th>Control ID</th>
        <th>Control Specification</th>
        </tr>
        </thead>
        <tbody>
{{ range .Site.Data.csa.controls }}
    {{ if (in .ControlID ($section) )}}
            <tr>
                <td>{{.ControlDomain}}</td>
                <td align="right">{{.ControlID}}</td>
                <td align="left">{{.ControlSpecification | markdownify}}</td>
            </tr>
    {{ end }}
{{ end }}

</tbody>
</table>


{{ $control := (printf "%s.%s" ".Site.Data.compliance" (.Page.Params.compliance | lower) ) }}
<h2>Technical Controls</h2>
<!-- Azure -->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "azure") }}
<h3>Azure</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "azure")}}
{{ end }}

<!-- AWS -->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "aws") }}
<h3>AWS</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "aws")}}
{{ end }}

<!-- GCP -->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "gcp") }}
<h3>GCP</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "gcp")}}
{{ end }}

<!-- Private Cloud-->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "private") }}
<h3>Private Cloud</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "private")}}
{{ end }}

<!-- ALL -->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "all") }}
<h3>Common Controls</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "all")}}
{{ end }}

{{ define "technical_controls" }}

<table class='tData'> 
    <thead>
        <tr>
        <th>Control ID</th>
        <th>Service</th>
        <th>Control</th>
        <th>Applied</th>
        <th>Issues</th>
        <th>Status</th>
        </tr>
        </thead>
        <tbody>
            {{ range .section }}
            <tr>
                <td class='name'>{{.name}}</td>
                <td>{{.service}}</td>
                <td>{{.control}}</td>
                <td></td>
                <td></td>
                <td class='status'>Waiting</td>
            </tr>
            {{ end }}

</tbody>
</table>

<script>
document.addEventListener("DOMContentLoaded", function(){
    $('.tData tr:gt(0)').each(function(){

        var this_row = $(this);
        var name_cell = this_row.find('.name');
        var status_cell = this_row.find('.status');
        var control_id = name_cell[0].innerText;
        var url = 'http://127.0.0.1:5000/controls/'+control_id;

        $.getJSON(url, function(data){
            data['isCompliant'] ? status_cell.addClass('greenBg') :  status_cell.addClass('redBg')
            status_cell.html(data['score']);
        })
        .error(function(event, jqxhr, exception) {
        if (event.status == 404) {
            status_cell.html('Unavailiable');
        }
        else
        {
            status_cell.html('Error '+ event.status);
        }
        status_cell.addClass('greyBg') 
    });

    })

});

</script> 
<style>

    .greenBg {
        background: green;
    }
    .redBg {
        background: red;
    }
    .greyBg {
        background: grey;
    }
    
    </style>
{{end}}

