
<h2>Control Summary</h2>
{{- $section := .Page.Params.compliance }}
<table>
    <thead>
        <tr>
        <th>Control Domain</th>
        <th>Control ID</th>
        <th>Control Specification</th>
        </tr>
        </thead>
        <tbody>
{{ range .Site.Data.csa.controls }}
    {{ if (in .ControlID ($section) )}}
            <tr>
                <td>{{.ControlDomain}}</td>
                <td align="right">{{.ControlID}}</td>
                <td align="left">{{.ControlSpecification | markdownify}}</td>
            </tr>
    {{ end }}
{{ end }}

</tbody>
</table>


{{ $control := (printf "%s.%s" ".Site.Data.compliance" (.Page.Params.compliance | lower) ) }}
<h2>Technical Controls</h2>
<!-- Azure -->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "azure") }}
<h3>Azure</h3>
{{/* template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "azure") */}}

{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "azure") "cloud" "azure" "params" $.Site.Params}}
{{ end }}

<!-- AWS -->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "aws") }}
<h3>AWS</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "aws")}}
{{ end }}

<!-- GCP -->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "gcp") }}
<h3>GCP</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "gcp")}}
{{ end }}

<!-- Private Cloud-->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "private") }}
<h3>Private Cloud</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "private")}}
{{ end }}

<!-- ALL -->
{{ if and (isset .Site.Data.compliance (.Page.Params.compliance | lower)) (isset (index .Site.Data.compliance (.Page.Params.compliance | lower)) "all") }}
<h3>Common Controls</h3>
{{ template "technical_controls" dict "section" (index .Site.Data.compliance (.Page.Params.compliance | lower) "all")}}
{{ end }}

{{ define "technical_controls" }}

{{ $assignment := "" }}
{{ $controls := slice }}
{{ $cloud := .cloud}}
{{ $apiurl := ""}}


{{ range $key, $value := .section }}
{{ if eq $key "assignment_name" }}
{{ $assignment = $value }}
{{ end }}
{{ if eq $key "controls" }}
{{ $controls = $controls  | append $value }}
{{ end }}
{{ end }}
{{ range $key, $value := .params }}
{{ if eq $key "apiurl" }}
{{ $apiurl = $value }}
{{ end }}
{{ end }}

<table class='tData'> 
    <thead>
        <tr>
        <th>Control ID</th>
        <th>Service</th>
        <th>Control</th>
        <th>Applied</th>
        <th>Issues</th>
        </tr>
        </thead>
        <tbody>
            {{ range $controls }}
            <tr>
                <td class='name'>{{.name}}</td>
                <td class='assignment' style='display:none;'>{{$assignment}}</td>
                <td class='cloud' style='display:none;'>{{ $cloud }}</td>
                <td class='service'>{{.service}}</td>
                <td class='control'>{{.control}}</td>
                <td class='applied'>Waiting</td>
                <td class='issues'></td>
            </tr>
            {{ end }}

</tbody>
</table>
<script>
document.addEventListener("DOMContentLoaded", function(){
    $('.tData tr:gt(0)').each(function(){

        var this_row = $(this);
        var control_cell = this_row.find('.control');
        var applied_cell = this_row.find('.applied');
        var issues_cell = this_row.find('.issues');
        var assigned_cell = this_row.find('.assignment');
        var cloud_cell = this_row.find('.cloud');

        var control_name = control_cell[0].innerText;
        var assignment = assigned_cell[0].innerText;
        var cloud = cloud_cell[0].innerText;
        var apiurl = "{{ $apiurl }}";

        var params = {
            provider_name: cloud,
            assignment_name: assignment,
            policy_name: control_name
        };

        $.getJSON(apiurl, params, function(data){
            if(data['noncompliant']!=0){
                issues_cell.addClass('redBg')
            }
            else{
                issues_cell.addClass('greenBg')
            }
            applied_cell.addClass('greenBg')
            var total = data['noncompliant'] + data['compliant']
            applied_cell.html(total);
            issues_cell.html(data['noncompliant']);
        })
        .error(function(event, jqxhr, exception) {
            if (event.status == 404) {
                applied_cell.html('Unavailiable');

            }
            else{ 
                applied_cell.html('Error '+ event.status);

            }
            applied_cell.addClass('greyBg') 
            issues_cell.addClass('greyBg') 
        });

    })

});

</script> 
<style>

    .greenBg {
        background: green;
    }
    .redBg {
        background: red;
    }
    .greyBg {
        background: grey;
    }
    
    </style>
{{end}}

