{{/*
{{< data "[dir/file]" "[single/multiple]" "[primary key]" >}}        
*/}}

{{ $arg := .Get 0 }}
{{ $type := .Get 1 }}
{{ $p_key := .Get 2 }}

{{ if eq $type "multiple"}}
  {{ if isset .Site.Data $arg }}
  {{ $dataFile := index .Site.Data $arg }}
    {{ range $dataFile }}
    <h3>{{ index . $p_key}}</h3>
    <table>
        {{ range $key, $val := . }}
            <tr><td>{{ $key }}</td><td>{{$val}}</td></tr>
        {{ end }}
    </table>
    {{ end }}
  {{ end }}
{{ end }}
{{ if eq $type "single"}}

{{ $datapath := (split $arg ".")}}

{{ if isset .Site.Data $datapath }}
  {{ $dataFile := index .Site.Data $datapath }}
    {{ range $dataFile }}
    <h3>{{ index . $p_key}}</h3>
    <table>
        {{ range $key, $val := . }}
            <tr><td>{{ $key }}</td><td>{{$val}}</td></tr>
        {{ end }}
    </table>
    {{ end }}
  {{ end }}
{{ end }}
