{{/*
{{< roles "[dir/file]" "[single/multiple]" "[primary key]" "[filterIn]" "[filterOut]" "[list to expand]">}}        
*/}}

{{ $arg := .Get 0 }}
{{ $type := .Get 1 }}
{{ $p_key := .Get 2 }}
{{ $filterIn := .Get 3}}
{{ $filterOut := .Get 4}}
{{ $sublists := .Get 5 }}
{{ if eq $type "single"}}

{{ $datapath := (split $arg ".")}}
  
  {{ if eq (len $datapath) 2 }}
  <!-- this is a 2 level data structure -->
    {{if isset .Site.Data (index $datapath 0) }}
      {{if isset (index .Site.Data (index ($datapath) 0)) (index ($datapath) 1)}}
        <!-- all the expected values exist -->
        {{ $dataFile := index .Site.Data $datapath }}
        {{ template "table" (dict "p_key" $p_key "dataFile" $dataFile "filterIn" $filterIn "filterOut" $filterOut) }}
      {{ end }}
    {{ end }}


  {{ else if eq (len $datapath) 1 }}
    <!-- this is a single level data structure -->
    {{if isset .Site.Data (index $datapath 0) }}
      <!-- all the expected values exist -->
      {{ $dataFile := index .Site.Data $datapath }}
      {{ template "table" (dict "p_key" $p_key "dataFile" $dataFile "filterIn" $filterIn "filterOut" $filterOut "sublists" $sublists) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "table" }}
{{ $p_key := .p_key}}
{{ $filterIn := .filterIn}}
{{ $filterOut := .filterOut}}
{{ $sublists := .sublists}}
  {{ range .dataFile }}
    {{ template "header" (dict "item" . "p_key" $p_key)}}
    <table>
    {{ range $key, $val := . }}
      {{ if or (in $filterIn $key) (eq $filterIn "") }}
        {{ if not (in $filterOut $key) }}
        {{ if not (eq $sublists $key) }}
        <tr><td>{{ $key }}</td><td>{{$val}}</td></tr>
        {{ else }}
          {{ template "list" (dict "list" . "key" $key)}}
        {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
    </table>
  {{ end }}
{{ end }}


{{ define "header" }}
{{ $item := .item}}
<h3>
{{- range $index, $value := (split .p_key ",") -}}
{{ if not (eq $index 0) }} | {{ end }}
{{- index $item $value -}}
{{- end -}}
</h3>
{{ end }}

{{ define "list" }}
<tr><td>{{ .key }}</td>
<td>
{{- range .list -}}
<li>{{ . }}</li>
{{- end -}}
</td></tr>
{{ end }}
